<?xml version="1.0" ?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robotaxi" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="body_color">
  <visual>
    <material>
      <ambient>0.250980392156863 0.250980392156863 0.250980392156863 1</ambient>
      <diffuse>0.250980392156863 0.250980392156863 0.250980392156863 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
      <emissive>0 0 0 0</emissive>
    </material>
  </visual>
</xacro:macro>

<xacro:macro name="axle_color">
  <visual>
    <material>
      <ambient>0.792156862745098 0.819607843137255 0.933333333333333 1</ambient>
      <diffuse>0.792156862745098 0.819607843137255 0.933333333333333 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
      <emissive>0 0 0 0</emissive>
    </material>
  </visual>
</xacro:macro>

<xacro:macro name="side_pane_color">
  <visual>
    <material>
      <ambient>0.792156862745098 0.819607843137255 0.933333333333333 1</ambient>
      <diffuse>0.792156862745098 0.819607843137255 0.933333333333333 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
      <emissive>0 0 0 0</emissive>
    </material>
  </visual>
</xacro:macro>

<xacro:macro name="top_color">
  <visual>
    <material>
      <ambient>0.792156862745098 0.819607843137255 0.933333333333333 1</ambient>
      <diffuse>0.792156862745098 0.819607843137255 0.933333333333333 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
      <emissive>0 0 0 0</emissive>
    </material>
  </visual>
</xacro:macro>

<xacro:macro name="wheel_color">
  <visual>
    <material>
      <ambient>0.792156862745098 0.819607843137255 0.933333333333333 1</ambient>
      <diffuse>0.792156862745098 0.819607843137255 0.933333333333333 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
      <emissive>0 0 0 0</emissive>
    </material>
  </visual>
</xacro:macro>

<xacro:macro name="lidar_color">
  <visual>
    <material>
      <ambient>0.792156862745098 0.819607843137255 0.933333333333333 1</ambient>
      <diffuse>0.792156862745098 0.819607843137255 0.933333333333333 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
      <emissive>0 0 0 0</emissive>
    </material>
  </visual>
</xacro:macro>

  <link
    name="body">
    <inertial>
      <origin
        xyz="-5.21780361655602E-05 -2.37407212439023E-05 0.604812969920948"
        rpy="0 0 0" />
      <mass
        value="4615.47805567614" />
      <inertia
        ixx="1863.24455406167"
        ixy="0.0132219930650718"
        ixz="-0.0745602857100425"
        iyy="8715.44296968045"
        iyz="-0.0273565484550983"
        izz="9003.50747380204" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/body.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_right_axel">
    <inertial>
      <origin
        xyz="1.59254307730881 -0.770387884139879 0.306936663484025"
        rpy="0 0 0" />
      <mass
        value="4.73802510796172" />
      <inertia
        ixx="0.0990829916203824"
        ixy="-0.00564103885906436"
        ixz="0.000108229508691783"
        iyy="0.0311714791660352"
        iyz="0.00131190404983014"
        izz="0.106577267989412" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/front_right_axel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/front_right_axel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_axel_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="front_right_axel" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_right_wheel">
    <inertial>
      <origin
        xyz="1.57025410376083 -1.04055974237639 0.309999999999996"
        rpy="0 0 0" />
      <mass
        value="220.204654088327" />
      <inertia
        ixx="19.7127728680101"
        ixy="1.16262531983733"
        ixz="5.70065896608079E-15"
        iyy="33.7094191498882"
        iyz="5.93281734338829E-14"
        izz="19.6168571900673" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/front_right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/front_right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_wheel_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="front_right_axel" />
    <child
      link="front_right_wheel" />
    <axis
      xyz="0.0822198916962624 0.996614212927678 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_left_axel">
    <inertial>
      <origin
        xyz="1.6565368692559 0.750916554199098 0.30693666413595"
        rpy="0 0 0" />
      <mass
        value="4.73802513910441" />
      <inertia
        ixx="0.0727966036899852"
        ixy="-0.033555856058096"
        ixz="-0.0008205838617529"
        iyy="0.0574578673139121"
        iyz="-0.00102929493752076"
        izz="0.106577268204647" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/front_left_axel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/front_left_axel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_axel_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="front_left_axel" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_left_wheel">
    <inertial>
      <origin
        xyz="1.82552714195732 0.962888059850802 0.310000000000004"
        rpy="0 0 0" />
      <mass
        value="220.204654088327" />
      <inertia
        ixx="25.1304300235974"
        ixy="6.91590337281265"
        ixz="2.78109008982202E-14"
        iyy="28.2917619943008"
        iyz="2.83392710451218E-14"
        izz="19.6168571900673" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/front_left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/front_left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_wheel_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="front_left_axel" />
    <child
      link="front_left_wheel" />
    <axis
      xyz="-0.623373961813521 -0.781923847783731 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="back_left_axel">
    <inertial>
      <origin
        xyz="-1.59022260058956 0.770166389684527 0.306936663157127"
        rpy="0 0 0" />
      <mass
        value="4.73802514179161" />
      <inertia
        ixx="0.0987482879826517"
        ixy="-0.00737831489877384"
        ixz="-0.000141909273981146"
        iyy="0.0315061827691447"
        iyz="-0.00130868926283995"
        izz="0.106577267921633" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/back_left_axel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/back_left_axel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_axel_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="back_left_axel" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="back_left_wheel">
    <inertial>
      <origin
        xyz="-1.56099765956285 1.03967619271508 0.310000000000004"
        rpy="0 0 0" />
      <mass
        value="220.204654088327" />
      <inertia
        ixx="19.7817557340667"
        ixy="1.52068003676715"
        ixz="-1.41066843422813E-16"
        iyy="33.6404362838315"
        iyz="5.35623170831363E-14"
        izz="19.6168571900673" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/back_left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/back_left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_wheel_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="back_left_axel" />
    <child
      link="back_left_wheel" />
    <axis
      xyz="-0.107805398797207 -0.99417201529221 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="back_right_axel">
    <inertial>
      <origin
        xyz="-1.59503401167827 -0.770558897464385 0.306936665235939"
        rpy="0 0 0" />
      <mass
        value="4.73802497254448" />
      <inertia
        ixx="0.0993419772005463"
        ixy="0.00376378875483251"
        ixz="-7.20785636933185E-05"
        iyy="0.0309124938085499"
        iyz="0.00131438606605443"
        izz="0.106577268357977" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/back_right_axel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/back_right_axel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_axel_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="back_right_axel" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="back_right_wheel">
    <inertial>
      <origin
        xyz="-1.58019056769578 -1.04124193078514 0.309999999999997"
        rpy="0 0 0" />
      <mass
        value="220.204654088327" />
      <inertia
        ixx="19.6593954325899"
        ixy="-0.775721213261626"
        ixz="-1.12449279054662E-15"
        iyy="33.7627965853084"
        iyz="5.12487286095604E-14"
        izz="19.6168571900673" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/back_right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/back_right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_wheel_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="back_right_axel" />
    <child
      link="back_right_wheel" />
    <axis
      xyz="-0.0547547589597665 0.998499832935018 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lidar_front_right">
    <inertial>
      <origin
        xyz="2.10240622729717 -1.10240622729716 1.78815355406656"
        rpy="0 0 0" />
      <mass
        value="8.51764060451499" />
      <inertia
        ixx="0.0642189157299355"
        ixy="-0.000191353707477661"
        ixz="0.000174493122027139"
        iyy="0.0642189157299355"
        iyz="-0.000174493122027053"
        izz="0.0429541548113749" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/lidar_front_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/lidar_front_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_front_right_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="lidar_front_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar_front_left">
    <inertial>
      <origin
        xyz="2.10240622729716 1.10240622729716 1.78815355406657"
        rpy="0 0 0" />
      <mass
        value="8.51764060451499" />
      <inertia
        ixx="0.0642189157299355"
        ixy="0.000191353707477661"
        ixz="0.000174493122027142"
        iyy="0.0642189157299355"
        iyz="0.000174493122027214"
        izz="0.0429541548113749" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/lidar_front_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/lidar_front_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_front_left_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="lidar_front_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar_back_left">
    <inertial>
      <origin
        xyz="-2.10240622729717 1.10240622729715 1.78815355406657"
        rpy="0 0 0" />
      <mass
        value="8.51764060451498" />
      <inertia
        ixx="0.0642189157299355"
        ixy="-0.000191353707477656"
        ixz="-0.000174493122027137"
        iyy="0.0642189157299354"
        iyz="0.000174493122027215"
        izz="0.0429541548113749" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/lidar_back_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/lidar_back_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_back_left_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="lidar_back_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar_back_right">
    <inertial>
      <origin
        xyz="-2.10240622729716 -1.10240622729717 1.78815355406656"
        rpy="0 0 0" />
      <mass
        value="8.51764060451498" />
      <inertia
        ixx="0.0642189157299355"
        ixy="0.000191353707477663"
        ixz="-0.000174493122027135"
        iyy="0.0642189157299355"
        iyz="-0.000174493122027065"
        izz="0.0429541548113749" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/lidar_back_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/lidar_back_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_back_right_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="lidar_back_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="side_pane_1">
    <inertial>
      <origin
        xyz="1.19387690613411E-15 0.939999999999996 1.22578533508363"
        rpy="0 0 0" />
      <mass
        value="269.579902102743" />
      <inertia
        ixx="29.0495518679719"
        ixy="-1.20383938267813E-16"
        ixz="3.27421223583015E-14"
        iyy="417.804106229136"
        iyz="9.89684859766926E-14"
        izz="389.401546126211" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/side_pane_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/side_pane_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="side_pane_1_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="side_pane_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="side_pane_2">
    <inertial>
      <origin
        xyz="7.36854275917892E-17 -0.940000000000004 1.22578533508363"
        rpy="0 0 0" />
      <mass
        value="269.579902102743" />
      <inertia
        ixx="29.0495518679719"
        ixy="-1.20383938267801E-16"
        ixz="2.9415137108934E-14"
        iyy="417.804106229136"
        iyz="9.89935929190605E-14"
        izz="389.401546126211" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/side_pane_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/side_pane_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="side_pane_2_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="side_pane_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="side_pane_3">
    <inertial>
      <origin
        xyz="-1.94 -4.0299328481463E-15 1.16174583422535"
        rpy="0 0 0" />
      <mass
        value="238.283902102743" />
      <inertia
        ixx="91.2445420486072"
        ixy="-2.58236719045494E-16"
        ixz="1.67397202198221E-16"
        iyy="30.1909069158719"
        iyz="-1.1589443866755E-13"
        izz="61.6255164977819" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/side_pane_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/side_pane_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="side_pane_3_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="side_pane_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="side_pane_4">
    <inertial>
      <origin
        xyz="8.11876186905901E-17 -0.16174583422535 -0.0599999999999998"
        rpy="0 0 0" />
      <mass
        value="238.283902102743" />
      <inertia
        ixx="30.1909069158719"
        ixy="-1.35061898246685E-14"
        ixz="3.03407211392029E-16"
        iyy="61.6255164977819"
        iyz="4.1134269100746E-16"
        izz="91.2445420486072" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/side_pane_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/side_pane_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="side_pane_4_joint"
    type="fixed">
    <origin
      xyz="2 0 1"
      rpy="-1.5707963267949 0 -1.5707963267949" />
    <parent
      link="body" />
    <child
      link="side_pane_4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="top">
    <inertial>
      <origin
        xyz="1.579007960937E-15 -8.23001329418906E-15 2.058474990647"
        rpy="0 0 0" />
      <mass
        value="1431.79274848221" />
      <inertia
        ixx="675.858793348103"
        ixy="-0.000168194562486687"
        ixz="5.13110389472562E-13"
        iyy="2286.6645250204"
        iyz="-1.99695025936543E-12"
        izz="2900.47257026417" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/top.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://project_legion/meshes/top.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="top_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="top" />
    <axis
      xyz="0 0 0" />
  </joint>

  <gazebo reference="body">
    <xacro:body_color />
  </gazebo>
  <gazebo reference="side_pane_1">
    <xacro:side_pane_color />
  </gazebo>
  <gazebo reference="side_pane_2">
    <xacro:side_pane_color />
  </gazebo>
  <gazebo reference="side_pane_3">
    <xacro:side_pane_color />
  </gazebo>
  <gazebo reference="side_pane_4">
    <xacro:side_pane_color />
  </gazebo>
  
  
  <gazebo reference="front_right_axle">
    <xacro:axle_color />
  </gazebo>
  <gazebo reference="front_left_axle">
    <xacro:axle_color />
  </gazebo>
  <gazebo reference="back_right_axle">
    <xacro:axle_color />
  </gazebo>
  <gazebo reference="back_left_axle">
    <xacro:axle_color />
  </gazebo>


  <gazebo reference="front_right_wheel">
    <xacro:wheel_color />
  </gazebo>
  <gazebo reference="front_left_wheel">
    <xacro:wheel_color />
  </gazebo>
  <gazebo reference="back_right_wheel">
    <xacro:wheel_color />
  </gazebo>
  <gazebo reference="back_left_wheel">
    <xacro:wheel_color />
  </gazebo>


  <gazebo reference="lidar_front_left">
    <xacro:lidar_color />
  </gazebo>
  <gazebo reference="lidar_front_right">
    <xacro:lidar_color />
  </gazebo>
  <gazebo reference="lidar_back_left">
    <xacro:lidar_color />
  </gazebo>
  <gazebo reference="lidar_back_right">
    <xacro:lidar_color />
  </gazebo>

  <gazebo reference="top">
    <xacro:top_color />
  </gazebo>

</robot>